<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <h3>Edit form</h3>
        <form action="/listings/<%= listing._id %>/?_method=PUT" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">
                    Title
                    <input class="form-control" id="title" type="text" value="<%= listing.title %>" name="listing[title]" required>
                    <div class="invalid-feedback">Title should be valid</div>
                </label>
            </div>
            <br>
           
            <div class="mb-3">
                <label for="description" class="form-label">
                    Description
                    <textarea class="form-control" id="description" type="text" name="listing[description]" required> <%= listing.description %></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </label>
            </div>
            <br>
        
            <div class="mb-3">
                <label for="price" class="form-label">
                    Price
                    <input class="form-control" id="price" type="number" value="<%= listing.price %>" name="listing[price]" required>
                    <div class="invalid-feedback">Price should be valid </div>
                </label>
            </div>
            <br>
           
            <div class="mb-3">
                <label for="imgUrl" class="form-label">
                    Image Url
                    <input class="form-control" id="imgUrl" type="text" value="<%= listing.image.url %>" name="listing[image]" required>
                    <div class="invalid-feedback">Image url should be valid</div>
                </label>
            </div>
            <br>
           
            <div class="mb-3">
                <label for="location" class="form-label">
                    Location
                    <input class="form-control" id="location" type="text" value="<%= listing.location %>" name="listing[location]" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </label>
            </div>
            <br>
            
            <div class="mb-3">
                    <label for="country" class="form-label">
                        Country
                        <input class="form-control" id="country" type="text" value="<%= listing.country %>" name="listing[country]" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </label>
                </div>
            <br>
            <button class="edit-btn btn">Edit</button>
        </form>
    </body>

    </html>