<% layout("/layouts/boilerplate.ejs") -%>

    <div class="row">
        <div class="col-8 offset-2">
            <h3>Listing Details : </h3>
            <div class="card">
                <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
                <div class="card-body">
                    <!-- <p class="card-text">
                        <%= listing.title %>
                    </p> -->
                </div>
            </div>
            <div>
                <p>Id : <%= listing._id %>
                </p>
                <p>Title: <%= listing.title %>
                </p>
                <p>Description: <%= listing.description %>
                </p>
                <p>Price: &#8377; <%= listing.price.toLocaleString("en-IN") %>
                </p>
                <p>Location: <%= listing.location %>
                </p>
                <p>Country: <%= listing.country %>
                </p>

                <div class="btns">
                    <form action="/listings/<%= listing._id %>/edit" method="GET">
                        <button class="btn btn-dark">Edit</button>
                    </form>
                    <form action="/listings/<%= listing._id %>/?_method=DELETE" method="POST">
                        <button class="btn btn-dark">Delete</button>
                    </form>
                </div>
            </div>

        </div>
    </div>